.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;
    width: 100vw;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 350px;
    height: 250px;
    padding: 10px 10px;
}

.wrapper form {
    width: 100%;
}

.wrapper input {
    background: #DDDDDD;
    outline: none;
    border: none;
    width: 100%;
    margin: 5px 0;
    height: 40px;
    padding: 0 15px;
    transition: .5s;
}

.wrapper input:focus {
    border: 1px solid #7A7CF0;
}

.wrapper button {
    width: 100%;
    background: #7A7CF0;
    border: none;
    height: 40px;
    cursor: pointer;
    color: #fff;
    transition: .5s;
    margin-top: 10px;
}

.wrapper .btn-back {
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 70px;
    padding: 5px 0;
    align-self: flex-start;
    background: #7c7ce8;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #F5F5F5;

}

.wrapper button:hover,
.btn-back:hover {
    opacity: .7;
}

.wrapper p {
    margin-top: 10px;
    text-align: center;
}

.title-register {
    font-size: 2.1rem;
    color: #7A7CF0;
}

.wrapper label {
    font-size: 1.2rem;
}

.message-error p {
    margin: 0;
}

.message-error {
    margin-top: 30px;
    background: rgba(67, 67, 67, 0.247);
    color: #020202;
    padding: 10px;
    border-radius: 5px;
    bottom: 90px;
}