main {
    display: grid;
    justify-content: center;
    grid-template-columns: 2fr 1fr;
    width: 70%;
    height: 80vh;
    margin: 0 auto;
}

.container-comments-user {
    position: relative;
    margin: 30px 20px;
    padding: 5px;
    min-height: 50px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background: #fafafa;
    min-width: 300px;
    max-width: 300px;
}

.container-comments-user-dark {
    background: #262C3A;
}


.container-add-comment {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 25px;
    background: #efefef;

}

.container-add-comment p {
    position: absolute;
    top: -30px;
    padding: 5px 4px;
    color: #efefef;
    background: rgba(32, 32, 32, 0.441);
    font-size: 1.2rem;
}



.wrapper-comment {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    align-items: flex-start;
    height: 35px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid rgb(209, 209, 209);
    max-width: 400px;
}

.wrapper-comment form {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.wrapper-comment button {
    border: none;
    height: 100%;
    width: 20%;
    background: rgb(110, 140, 230);
    color: #fff;
    cursor: pointer;
}

.wrapper-comment button:hover {
    opacity: .7;
    transition: all .5s;
}

.wrapper-comment textarea {
    height: 100%;
    outline: none;
    width: 80%;
    resize: none;
    border: none;
    padding: 5px 10px;
}

.comment-content {
    display: flex;
    padding-top: 10px;
    margin-top: 10px;
}

.comment-info-user {
    top: 5px;
    left: 5px;
    position: absolute;
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
}


.comment-info-user img {
    width: 20px;
}

.comment-info-user p {
    text-align: center;
}


.comment-info-user {
    flex: 1;
}

.comment-content>p {
    width: 100%;
    padding: 4px;
}

.comment-content>small {
    display: flex;
    align-items: flex-end;
    flex: 1;
    text-align: center;
    min-width: 70px;
}

.container-icon-remove-comment {
    top: 5px;
    right: 5px;
    position: absolute;
    width: 100%;
    text-align: end;
    font-size: 1.4rem;
    padding: 0 5px;
    cursor: pointer;
    color: #9b9b9b;
}

.container-add-comment-dark {
    background: #262C3A;
}

.container-comments-user-dark .comment-info-user,
.container-comments-user-dark .comment-content>small,
.container-comments-user-dark .comment-content>p {
    color: #efefef;
}

@media (max-width:1300px) {
    main {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
    }
}