footer{
    background:#0F0C29;
    min-height: 10vh;

}
.wrapper{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.wrapper_text > p{
    color: gray;
    font-size: 12px;
}
.wrapper_text div{
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 5px 0;
}
.wrapper_text  div svg{
    fill: #c3c1c1;
}
