.container_posts {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
}

.container_posts h3 {
    text-align: center;
    color: rgb(183, 183, 183);
    font-size: 1.5rem;
}

@media (min-width:700px) {
    .container_posts {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }

}